.container-app {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: minmax(13vh, 13vh) 87%;
	grid-template-areas:
		'nav header'
		'nav main';
}

.header-app {
	grid-area: header;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 'input none buttons';
	padding: 2.5em 10em;
	grid-gap: 5em;
	position: sticky;
	top: 0;
	background: white;
	z-index: 100;
}

.search-header {
	grid-area: input;
	display: grid;
	grid-template-columns: 1fr 8fr;
	align-items: center;
	border-bottom: 2px solid #f5f5f5;
}

.search-header input {
	border: none;
	outline: none;
	font-size: 1.1em;
}

.nav-app {
	grid-area: nav;
	padding: 2.5em 3.5em;
	border-right: 3px solid #f5f5f5;
	position: relative;
	position: sticky;
	top: 0;
	max-height: 100vh;
}

.nav-app ul {
	margin: 30% 0;
}

.nav-app ul li {
	list-style: none;
}

.nav-app ul li a {
	color: #000000;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 1.5em;
	margin: 0.6em 0;
	font-size: 1.1em;
}

.nav-app ul li a img {
	height: 70%;
}
.nav-app .logo img {
	width: 8em;
}

.promo-nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 0.8em;
	margin-top: 80%;
}

.promo-nav img {
	width: 50%;
	margin-bottom: 1em;
}

.promo-nav button {
	background: #5b4dbe;
	height: 4em;
	width: 80%;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 15px;
	margin-top: 1em;
	outline: none;
}

.profile-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: calc(100% - 7em);
	bottom: 2.5em;
}

.profile-nav img {
	width: 2.5em;
	height: 2.5em;
	margin-right: 1em;
	border-radius: 50%;
}

.profile-nav div {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
}
.profile-nav div span:nth-child(1) {
	font-weight: bold;
}

.main-app {
	grid-area: main;
	padding: 0 10em;
	padding-top: 1em;
}

.main-app h1 {
	font-size: 3.5em;
}

.contenedor-cursos {
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
	grid-gap: 5em;
	width: 100%;
	padding-bottom: 4em;
}

.curso-card {
	border-radius: 2em;
	height: 30em;
	position: relative;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.curso-card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: translate(0, -0.6em);
}

.curso-card .contend-card {
	z-index: 10;
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	padding: 2em;
	display: grid;
	grid-template-rows: auto 4fr 1fr;
}

.type-opcions {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.type-opcions div {
	width: auto;
	background-color: #5073ff;
	padding: 0.5em 1em;
	border-radius: 25px;
	font-weight: 500;
}

.type-opcions button {
	height: 2em;
	width: 2em;
	background: none;
	border: none;
	outline: none;
}

.type-opcions button img {
	width: 100%;
}

.curso-card .contend-card div h2 {
	font-size: 1.5em;
}

.title-card {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.title-card div {
	margin-top: 0.5em;
}

.ver-curso {
	display: flex;
	align-items: flex-end;
}

.gradient-card {
	background: linear-gradient(180deg, transparent 0%, #000000 100%);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.curso-card .photo-card {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.btns-header {
	display: flex;
	grid-area: buttons;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.btns-header button {
	outline: none;
	border: none;
}

.btns-header button:nth-child(1),
.btns-header button:nth-child(2) {
	width: 2em;
	height: 2em;
	background: none;
	position: relative;
}

.circle-nofification {
	position: absolute;
	height: 0.9em;
	width: 0.9em;
	border-radius: 50%;
	background: rgba(246, 81, 61);
	top: 0;
	right: 0;
}

.btns-header button:last-child {
	width: 40%;
	height: 3em;
	border-radius: 15px;
	border: 2px solid #f5f5f5;
	background: none;
	font-weight: bold;
}
