.container-app {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: minmax(13vh, 13vh) 87%;
	grid-template-areas:
		'nav header'
		'nav main';
}

.main-app {
	grid-area: main;
	padding: 0 10em;
	padding-top: 1em;
}
