.course-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'head head head'
		'list list info';
	grid-gap: 4.6em;
}

.course__head {
	grid-area: head;
	height: 11.8em;
	background: #6f86d6;
	border-radius: 16px;
	color: #fff;
	padding: 2.5em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.2);
}

.course__head__text {
	z-index: 10;
}

.course__title {
	font-size: 2.2em;
}

.course__head__gradient {
	position: absolute;
	background: linear-gradient(180deg, transparent 0%, #000000 100%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
}

.course__head__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.class-list {
	grid-area: list;
}

.info-course {
	grid-area: info;
	height: 45vh;
	border-radius: 16px;
	box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.05);
}

.class-item {
	width: 100%;
	height: 7.3em;
	box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	color: #5b6b8b;
	margin-bottom: 2.5em;
	padding: 1em 2.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
}

.class-item:hover {
	background: rgb(233, 233, 233);
	transform: scale(1.05);
}

.class-item.completed {
	background: linear-gradient(
		90deg,
		rgba(212, 252, 121, 0.25) 0%,
		rgba(150, 230, 161, 0.25) 100%
	);
}

.class-item-type {
	background: #6f86d6;
	height: 100%;
	border-radius: 16px;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.class-item-type__blur {
	width: 3.1em;
	height: 3.1em;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	border-radius: 16px;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-item-type__img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.class-item__info__time {
	display: flex;
	align-items: center;
	margin-top: 0.5em;
}

.class-item__info__time__icon {
	width: 1em;
	margin-right: 0.5em;
}
